.tituloinicio{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F47920;
}

.paginicio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pie{
    padding: 40px;
    margin-top: -10px;
    width: 100%;
    clear: both;
    background: #B3B3B3;
    text-align: center;
    color: #005883 ;
}

.objetivos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #005883;
}

.parrafo{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #808080;
}

.none{
    list-style: none;
}

.tabla{
    padding: 100px;
    text-align: center; 
}


.tabla2{
    padding: 100px;
    text-align: left, center, justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #808080;
}

.parrafo2{
    
    color: #808080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
