.tituloinicio {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #B3B3B3;
        
}

.paginicio{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.pie{
    padding: 40px;
    margin-top: -10px;
    width: 100%;
    clear: both;
    background: #B3B3B3;
    text-align: center;
    color: #005883 ;
}

.objetivos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #005883;
}